*{font-family: Open Sans;}
*{ 
    -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
  }
    

.relative {
            position: relative;
            border-radius: 5px;
            background-color: #E5EFFF;
            top: 100px;
            max-width: 800px;
            height: 350px;
            border-color: #99CCFF;
            border-style: solid;
            border-width: 1px;
            margin: auto;
          }
.absoluteLeft {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            top: 7%;
            left: 3%;
            height: 80%;
            width: 45%;
            padding: 15px;
            border-color: #99CCFF;
            border-style: solid;
            border-width: 1px;
          }
.absoluteRight {
            position: absolute;
            border-radius: 5px;
            background-color: white;
            top: 7%;
            right: 3%;
            width: 45%;
            height: 80%;
            padding: 15px;
            border-color: #99CCFF;
            border-style: solid;
            border-width: 1px;
          }
.tc1      {
            font-color: blue;
            position: absolute;
            top: -9%;
            left: 3%;
            border-radius: 1px;
            background-color: #E5EFFF;
            height: 9%;
            width: 15%;
            padding: 5px;
            border-top-color:#99CCFF ;
            border-left-color:#99CCFF ;
            border-right-color: #99CCFF;
            border-bottom-color: #E5EFFF;
            border-style: solid;
            border-width: 1px;
            z-index: 1;
            cursor: pointer;
          }
.tc2      {
            position: absolute;
            top: -9%;
            left: 18.3%;
            border-radius: 1px;
            background-color: ;
            height: 9%;
            width: 15%;
            padding: 5px;
            border-top-color:#99CCFF ;
            border-left-color:#99CCFF ;
            border-right-color: #99CCFF;
            border-bottom-color: #E5EFFF;
            border-style: solid;
            border-width: 1px;
            margin: auto;
            z-index: 1;
            cursor: pointer;
          }
img       {
            width: 100%;
            height: auto;
    
          }
.form1    {
      position: absolute;
      display:none;
      border-radius: 5px;
      background-color: white;
      top: 7%;
      left: 3%;
      right:3%;
      height: 80%;
      width: 94%;
      padding: 15px 15px 15px 15px;
      border-color: #99CCFF;
      border-style: solid;
      border-width: 1px;
    }
    
    
    .l-button {
      position: absolute;
      border-radius: 3px;
      background: #25970E;
      text-decoration: none;
      bottom: 6%;
      left: 14%;
      width: 20%;
      height: 15%;
      padding: 2%;
      color: white;
      cursor: pointer;
      display: block;
      border:none;
      font-size:17px;
    }
    .s-button
    {
      position: absolute;
      border-radius: 3px;
      border: none;
      background: #25970E;
      text-decoration: none;
      bottom: 6%;
      right: 14%;
      width: 20%;
      height: 15%;
      padding: 2%;
      color: white;
      cursor: pointer;
      display: none;
      font-size:17px;
    }

    #ps{
      color: #6699FF;
    }
    
    input, select, textarea {
      background-color : #E8E8E8;
      border:1px solid #E0E0E0;
    }
    .fsize{
      width: 275px;
    }




    