.pdetail{
	position:fixed;
    width: 30%;
    height:100% ;
    
	}
img{
	width: 100%;
	height: 100%;


}
.f-color{
  color: #505050;
}
.photo{
    position: absolute;
    width: 90%;
    height:40%;
    top:7%;
    left:0%;
}
img.avatar{
  height: 35%;
  width: 30%;
  right: 0%;
  border-radius: 70%;
}
.name{
  position: absolute;
  height: 50%;
  width: 60%;
  right: 0%;
  bottom: 15%;
}
.links{
  position: absolute;
    width: 90%;
    height:10%;
    bottom:3%;
    left:0%;
}

img.gh, img.twit, img.mail, img.fb{
    height: 40%;
    width: 9%;
    opacity: 1; 
    filter: alpha(opacity=100);
    border-radius: 50%;

}
img.gh:hover, img.twit:hover, img.mail:hover, img.fb:hover {
    opacity: 0.5; 
    filter: alpha(opacity=30);
}
img.mail{
    height: 36%;
    width: 10%;
    border-radius: 16%;

}

.r-container{
	position: relative;
	width: 69%;
	left:30.5%;
    height:1000px;
}
.r-container1{
	position: absolute;
	width: 85%;
	left:5%;
    height:35%;
    border-bottom-color: grey;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 2px;
    border-style: solid;
}
.para1{
	position: absolute;
	top:16% ;
	left: ;
	width: ;
	text-align: justify;
}
#ps{
      font-size:150%;
    }
.l-button {
      position: absolute;
      border-radius: 3px;
      text-decoration: none;
      bottom: 13%;
      left: %;
      width: 17%;
      height: 13%;
      cursor: pointer;
      display: block;
      border-style: solid;
      border-width: 2px;
      font-size:90%;
    }
.r-container2{
	position: absolute;
	width: 85%;
	top: 35%;
	left: 5%;
    height:130%;
}

.h {
  position: absolute;
  top: 3%;
}
.thumbnail{
	width: 100%;
	height: 25%;
	border-radius: 3%;
  opacity:1; 
    filter: alp ha(opacity=100);
}
img.thumbnail:hover{
    opacity: 0.5; 
    filter: alpha(opacity=30);
    cursor: pointer;
}

.th1{
	position: absolute;
	top: 6%;
	width: 47%	
}
.thp1{
	position: absolute;
	top: 22%;
	width: 47%
}
#p1, #p2, #p3, #p4, #p5, #p6{
      font-size:110%;
      font-weight: bold;
    }
#p11{
      font-size:100%;
    }
.th2{
	position: absolute;
	top: 6%;	
	right: 0%;
	width: 47%
}
.th3{
	position: absolute;
	top: 29%;
	width: 47%	
}
.th4{
	position: absolute;
	top: 29%;
	width: 47%;	
	right:0%;
}
.th5{
	position: absolute;
	top: 52%;
	width: 47%;
}
.th6{
	position: absolute;
	top: 52%;
	width: 47%;
	right:0%;
}
.p-button {
      position: absolute;
      border-radius: 3px;
      text-decoration: none;
      top: 77%;
      width: 17%;
      height: 3.8%;
      cursor: pointer;
      display: block;
      border-style: solid;
      border-width: 2px;
      font-size:90%;
    }
    .r-container3{
	position: absolute;
	width: 85%;
	top: 145%;
	left: 5%;
    height:60%;
    border-bottom-color: transparent;
    border-top-color: grey;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 2px;
    border-style: solid;
}
.h1 {
  position: absolute;
  top: 3%;
}
.f-container{
	border-color: black;
	width: 65%;
	height: 50%;
	top: 22%;
	left: -6.5%;
	position: absolute;

}
.fsize1 {
  width: 120%;
  height:200%;
  border-radius: 3px;
}
.fsize2 {
  height:200%;
  width: 120%;
  border-radius: 3px;
}
.label1{
	left:;
	right:;
	top:;
}
.label2{
	left:;
	right:;
	top:;
}
.area{
	width: 248%;
}
.tr{
	padding-top: 0%;
	padding-left: 0%;
}
input, textarea {
      background-color : #E8E8E8;
      border-color: transparent;
    }
.msg-button{
		position: absolute;
      border-radius: 3px;
      text-decoration: none;
      bottom: 0%;
      width: 26%;
      left: 11%;
      height: 15%;
      cursor: pointer;
      display: block;
      border-style: solid;
      border-width: 2px;
      border-color: ;
      font-size:90%;
   }
.l-button:hover, .p-button:hover, .msg-button:hover{
  border-color: #00CC99 ;
  color: #00CC99;

}
    

   .author{
	border-color: red;
	width: 30%;
	height: 40%;
	top: 29%;
	right: 5%;
	position: absolute;

}
.home{
  width: 10%;
  height: 10%;
  clear: left;
}
.a1{
  position: absolute;
  top: -5%;
  left: 15%;
}
.mob{
  width: 10%;
  height: 10%;
  clear: left;
}
img.mob{
  position: absolute;
  top: 33%;
  left: 0%;
}
}
.msg{
  width: 10%;
  height: 10%;
  clear: left;
}

.no{

}
.a2{
  position: absolute;
  top: 27%;
  left: 15%;
}
.msg{
  width: 10%;
  height: 10%;
  clear: left;
}
img.msg{
  position: absolute;
  top: 60%;
  left: 0%;
}
.a3{
  position: absolute;
  top: 54%;
  left: 15%;
}